{% extends "base.html" %} 
{% block title %} Запись {{ author.username }} {% endblock %}
{% block content %}
{% load thumbnail %}
    <main role="main" class="container">
        <div class="row">
            {% include "author.html" with author=author %}
            <div class="col-md-9">
                <h1> Запись </h1> 
                {% if page %}
                    {% for post in page %}
                        {% include "post_item.html" with post=post %}
                    {% endfor %}
                    {% if page.has_other_pages %}
                        {% include "paginator.html" with items=page paginator=paginator %}
                    {% endif %}
                {% else %}
                    {% include "post_item.html" with post=post is_post=True %}
                {% endif %}
                {% include 'comments.html' %}
            </div>
        </div>
    </main>

{% endblock %}